{% block content %}
<center>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="post">
        {% csrf_token %}
        <br><br><br><br>
        <h1>Reset Password</h1>
        <table>
            <tr>
                <td><input type="email" name="email" placeholder="Enter your email" required style="width: 100%; padding: 12px 20px; margin: 8px 0; font-family: 'Times New Roman'; font-size: 150%;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <input type="submit" class="bn632-hover bn23" value="Send OTP">
                </td>
            </tr>
        </table>
    </form>
    <button><a href="/login/" class="bn632-hover bn23">Back to Login</a></button>
</center>
{% endblock %}