
{% block content %}
<center>
    <form method="post">
        {% csrf_token %}
        <br><br><br><br>
        <h1>Set New Password</h1>
        <table>
            <tr>
                <td><input type="password" name="password" placeholder="New Password" required style="width: 100%; padding: 12px 20px; margin: 8px 0; font-family: 'Times New Roman'; font-size: 150%;"></td>
            </tr>
            <tr>
                <td><input type="password" name="confirm_password" placeholder="Confirm Password" required style="width: 100%; padding: 12px 20px; margin: 8px 0; font-family: 'Times New Roman'; font-size: 150%;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <input type="submit" class="bn632-hover bn23" value="Change Password">
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}